@import "flex";

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url('../fonts/2FDF27_8_0.woff2') format('woff2'), url('../fonts/2FDF27_8_0.woff') format('woff'), url('../fonts/2FDF27_8_0.ttf') format('truetype');
}

@font-face {
  font-family: 'Rockwell';
  src: url('../fonts/rockwell.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=IM+Fell+English+SC|Lato');

$font-main: 'Rockwell';
$font-main: 'AvenirNextLTPro-Medium', sans-serif;
$blue: #1e87f0;
h1, h2, h3, h4, h5, h6 {
  font-family: 'Rockwell', serif;
  font-family: 'IM Fell English SC', serif;
  color: #000;
  text-transform: uppercase;
}

body {
  font-family: $font-main;
}
.uk-card-default {
  color: #222;
}

.flex {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  @include flex-wrap(wrap);
}

@media screen and ( max-width: 639px ) {

  html {
    font-size: 13px;
  }

}

@import "navbar";
@import "line-between";
@import "footer";
